.container {
  padding: 2rem 4rem 9rem;
}

.playground {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  background-color: rgba(83, 83, 109, 0.11);
  font-size: 1.5rem;
  padding: 2rem;
}
