.container {
  padding: 2rem 4rem 6rem;
}

.playground {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  background-color: rgba(83, 83, 109, 0.11);
  font-size: 1.5rem;
  padding: 2rem;
}

.docs-button {
  height: max-content;
  border: none;
  background: transparent;

  &:hover {
    cursor: pointer;
  }

  &:active {
    scale: 0.95;
  }
}

.loader-container {
  width: 30rem;
  display: flex;
  justify-content: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}