@import '../../styles/vars';
@import '../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animation {
  align-items: center;
  font-size: 5rem;
  text-align: center;
  flex-grow: 1;
  bottom: 0;
  left: 29%;
  background: url('../../assets/images/graphiql-logo.svg') no-repeat;
  width: 30rem;
  height: 30rem;
  animation: rotate 9s linear infinite;
  transform-origin: center center;
  margin: 0;
}

@media (max-width: 767px) {
  .container {
    font-size: 4rem;
  }

  .animation {
    font-size: 4rem;
    width: 25rem;
    height: 25rem;
    background-size: 25rem 25rem;
  }
}

@media (max-width: 479px) {
  .container {
    font-size: 3rem;
  }

  .animation {
    font-size: 3rem;
    width: 20rem;
    height: 20rem;
    background-size: 20rem 20rem;
  }
}