@import '../../styles/vars';
@import '../../styles/mixins';

.form {
  max-width: 80rem;
  background-color: $color-secondary;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  font-size: 1.8rem;
  padding: 5rem 23rem 7.5rem 24.8rem;
  background-image: url('../../assets/images/grahh-img.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 40.8rem, 33.9rem;
  position: relative;
  box-shadow: 0px 25px 25px -9px rgba(83, 83, 109, 0.11);
  // width: 100%;

  &::after {
    content: '';
    background-color: $color-accent-light;
    height: 2rem;
    min-width: 80rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
}


.button_submit {
  width: 32.2rem;
  height: 4rem;
  background-color: $color-black;
  color: $color-secondary;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $color-secondary;

  &:hover {
    cursor: pointer;
    background-color: $color-gray-additional;
    box-shadow: 0 0 0 2px $color-gray-additional;
  }

  &:disabled {
    color: $color-disabled;
    background-color: $color-light-gray-additional;
    outline: 1px solid $color-disabled;
    cursor: default;
  }

  &:active {
    scale: 0.95;
  }
}