@import 'normalize';
@import 'fonts';
@import 'placeholders';
@import 'mixins';
@import 'vars';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  background: $color-background;
  @extend %font-prom;
}

h1 {
  margin: 0;
  line-height: 7.8rem;
  @include font(6rem, $weight: bold);
}

h2 {
  @include font(4.8rem, $weight: bold);
}

h3 {
  @include font(3.6rem, $weight: bold);
}

h4 {
  @include font(2.4rem, $weight: bold);
}

h5 {
  @include font(1.8rem, $weight: bold);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px $color-secondary inset !important;
}