//Primary
$color-accent-light: #FFF42C;
$color-background: #F5F5F5;
$color-secondary: #FFFFFF;
$color-accent-dark: #2D2D2D;

//Neutral
$color-black: #000000;
$color-gray-additional: #424242;
$color-disabled: #757575;

//State
$color-error: #C40000;
$color-success: #00A01A;