@import '../../../styles/vars.scss';

.list {
  li {

    div {
      color: $color-black;
    }
  }
}

.head {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-weight: 500;
  opacity: 0.5;

  img {
    margin-right: 5px;
  }
}

.interface {
  margin-left: -5px;
}
