@import '../../../styles/vars.scss';

.editor_gql {
  width: 50%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
}

.codemirror_editor {
  flex-grow: 1;
}

.tooll_bar {
  padding: 1.5rem;
  flex-shrink: 1;
  background-color: $color-secondary;
  border-left: 2px solid $color-background;
}

.request_btn {
  width: 4rem;
  height: 4rem;
  background-color: $color-accent-light;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    background-image: url(./../../../assets/icons/play.svg);
    width: 1.4rem;
    height: 1.8rem;
    transition: all 0.3s ease;
  }

  &:hover {
    &::before {
      transform: scale(110%);
    }
  }
}
