@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.editor_gql {
  width: 50%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.codemirror_editor {
  flex-grow: 1;
}

.tooll_bar {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex-shrink: 1;
  background-color: $color-secondary;
  border-left: 2px solid $color-background;

  &::before {
    content: '';
    background-image: url(./../../../assets/icons/play.svg);
    background-repeat: no-repeat;
    width: 1.4rem;
    height: 1.8rem;
    transition: all 0.3s ease;
  }
  button {
    @include graphiql-btn;

    &:first-child {
      @include graphiql-btn(1.5rem);
    }
  }
}
